/* (noindex) version: 1.0.1 */




/* header & footer (1.0.1) */

.nav-header,
.side-drawer__title {
    background: #000;
    border-color: #000;
}

.nav-header__hamburger {
    background: #fff !important;
}

.nav-list--horizontal > .nav-list__item > .nav-list__link {
    color: #fff !important;
}

/* Hover under elements in menu */
.nav-list__item--more:after,
.nav-list--horizontal > .nav-list__item:not(:last-child):not(:last-child):after {
    border-color: #fff !important;
}

/* Icons */
.nav-header__logo,
.nav-header__nav-link .nav-header__nav-icon:before,
.nav-icon-cart:before,
.nav-cart .nav-icon-cart-quantity {
    color: #fff !important;
}

/* Separators in the header */
.nav-header__separator,
.nav-cart:before,
.nav-header__nav-link:before {
    border-color: #fff !important;
    opacity: 0.1;
}

/* Hide QR Afip (todo: don't do it by style but by removing the element) */
footer .nav-footer-disclaimer a[href="null"] {
    display: none;
}

/* New Classes for templates */
.header--custom-background {
    background: #000 !important;
    border-color: #000 !important;
}

.header--custom-title {
    color: #000 !important;
}

.header--custom-title-container {
    background-color: #fff !important;
}

.icon--custom-color {
  fill: #000 !important;
}

.discovery--custom-label-image-gradient {
  background: linear-gradient(to top, rgba(0,0,0,0.05), transparent)
}

.header--custom-text {
    color: #fff !important;
}

.header--custom-border {
    border-color: #fff !important;
}

.header--custom-svg {
    fill: #fff !important;
}

.header--custom-secondary-background {
    background-color: #5c5c5c !important;
}

.header--custom-secondary-text {
    color: #fff !important;
}

.header--custom-text a {
  color: #fff !important;
}
.header--custom-border.nav-list--horizontal>.nav-list__item:not(:last-child):not(:last-child):after {
  border-color: #fff !important;
}

/* Search box looks bad on white headers (white border - white background). We need to force gray. */


.header--custom-border:hover {
    border-color: #fff !important;
}








